# IDE
.idea/

# OS / misc
.DS_Store

# Env
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Build
dist/
build/
.cache/

# Supabase
supabase/.temp/
supabase/.branches/

# IntelliJ
/workspace.xml
/shelf/

# HTTP client
/httpRequests/

# Datasources
/dataSources/
/dataSources.local.xml